In [1]:
import pandas as pd

In [9]:
df= pd.read_csv(r"C:\Users\USER\Chameleon\MOP-Code\artificial-intelligence\Traffic Analysis\dataset\cleaned_merged_data.csv")
df

,date,road_name,location,suburb,speed_limit,direction,time,Light_Vehicles,Light_Vehicles_with_Trailer,Two_Axle_Trucks_Buses,...,status_id,seg_descr,poly_area,gisid,street_id,seg_part,Geo Shape x,Geo Shape y,Latitude,Longitude
0,2014-10-11,Wolseley Parade,North East Of Derby Street,Kensington,50,W,16:00,24.000000,0.386506,4.093996,...,2,Wolseley Parade between Bellair Street and Der...,5235,2301,1186,1,144.928291,-37.796994,-37.796238,144.929383
1,2014-10-11,Wolseley Parade,North East Of Derby Street,Kensington,50,W,17:00,42.000000,0.386506,4.093996,...,2,Wolseley Parade between Bellair Street and Der...,5235,2301,1186,1,144.928291,-37.796994,-37.796238,144.929383
2,2014-10-11,Wolseley Parade,North East Of Derby Street,Kensington,50,W,18:00,33.000000,0.386506,1.000000,...,2,Wolseley Parade between Bellair Street and Der...,5235,2301,1186,1,144.928291,-37.796994,-37.796238,144.929383
3,2014-11-11,Wolseley Parade,North East Of Derby Street,Kensington,50,W,2:00,3.000000,0.386506,4.093996,...,2,Wolseley Parade between Bellair Street and Der...,5235,2301,1186,1,144.928291,-37.796994,-37.796238,144.929383
4,2014-11-11,Wolseley Parade,North East Of Derby Street,Kensington,50,W,4:00,86.177384,0.386506,4.093996,...,2,Wolseley Parade between Bellair Street and Der...,5235,2301,1186,1,144.928291,-37.796994,-37.796238,144.929383
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
63115,2014-11-13,Tennyson Street,South West Of Southey Street,Kensington,50,W,12:00,4.000000,0.386506,1.000000,...,2,Tennyson Street between Southey Street and Ard...,1574,2289,1119,1,144.930478,-37.797832,-37.798036,144.929982
63116,2014-11-13,Tennyson Street,South West Of Southey Street,Kensington,50,W,13:00,6.000000,0.386506,4.093996,...,2,Tennyson Street between Southey Street and Ard...,1574,2289,1119,1,144.930478,-37.797832,-37.798036,144.929982
63117,2014-11-13,Tennyson Street,South West Of Southey Street,Kensington,50,W,14:00,6.000000,0.386506,1.000000,...,2,Tennyson Street between Southey Street and Ard...,1574,2289,1119,1,144.930478,-37.797832,-37.798036,144.929982
63118,2014-11-13,Tennyson Street,South West Of Southey Street,Kensington,50,W,16:00,8.000000,0.386506,1.000000,...,2,Tennyson Street between Southey Street and Ard...,1574,2289,1119,1,144.930478,-37.797832,-37.798036,144.929982
63119,2014-11-13,Tennyson Street,South West Of Southey Street,Kensington,50,W,19:00,7.000000,0.386506,4.093996,...,2,Tennyson Street between Southey Street and Ard...,1574,2289,1119,1,144.930478,-37.797832,-37.798036,144.929982

In [17]:
# Define the columns that represent different types of vehicles
vehicle_columns = [
    'Light_Vehicles', 'Light_Vehicles_with_Trailer', 'Two_Axle_Trucks_Buses',
    'Three_Axle_Trucks_Buses', 'Four_Axle_Trucks', 'Three_Axle_Articulated_Vehicles',
    'Four_Axle_Articulated_Vehicles', 'Five_Axle_Articulated_Vehicles',
    'Six_Axle_Articulated_Vehicles', 'B_Double_Trucks', 'Double_Road_Trains',
    'Triple_Road_Trains', 'Unknown_Vehicles', 'Motorcycles', 'Bicycles'
]
# Calculate total traffic volume
df['Total_Traffic_Volume'] = df[vehicle_columns].sum(axis=1)
df[['date', 'road_name', 'location', 'suburb', 'time', 'Total_Traffic_Volume']]

,date,road_name,location,suburb,time,Total_Traffic_Volume
0,2014-10-11,Wolseley Parade,North East Of Derby Street,Kensington,16:00,34.292179
1,2014-10-11,Wolseley Parade,North East Of Derby Street,Kensington,17:00,52.292179
2,2014-10-11,Wolseley Parade,North East Of Derby Street,Kensington,18:00,40.198183
3,2014-11-11,Wolseley Parade,North East Of Derby Street,Kensington,2:00,13.292179
4,2014-11-11,Wolseley Parade,North East Of Derby Street,Kensington,4:00,96.469563
...,...,...,...,...,...,...
63115,2014-11-13,Tennyson Street,South West Of Southey Street,Kensington,12:00,11.198183
63116,2014-11-13,Tennyson Street,South West Of Southey Street,Kensington,13:00,16.292179
63117,2014-11-13,Tennyson Street,South West Of Southey Street,Kensington,14:00,13.198183
63118,2014-11-13,Tennyson Street,South West Of Southey Street,Kensington,16:00,15.198183
63119,2014-11-13,Tennyson Street,South West Of Southey Street,Kensington,19:00,17.292179

In [23]:
heavy_vehicle_columns = [
    'Two_Axle_Trucks_Buses', 'Three_Axle_Trucks_Buses', 'Four_Axle_Trucks',
    'Three_Axle_Articulated_Vehicles', 'Four_Axle_Articulated_Vehicles',
    'Five_Axle_Articulated_Vehicles', 'Six_Axle_Articulated_Vehicles',
    'B_Double_Trucks', 'Double_Road_Trains', 'Triple_Road_Trains'
]
# Calculate total heavy vehicle volume
df['Heavy_Vehicle_Volume'] = df[heavy_vehicle_columns].sum(axis=1)
df[['date', 'road_name', 'location', 'suburb', 'time', 'Total_Traffic_Volume', 'Heavy_Vehicle_Volume']]

,date,road_name,location,suburb,time,Total_Traffic_Volume,Heavy_Vehicle_Volume
0,2014-10-11,Wolseley Parade,North East Of Derby Street,Kensington,16:00,34.292179,5.262289
1,2014-10-11,Wolseley Parade,North East Of Derby Street,Kensington,17:00,52.292179,5.262289
2,2014-10-11,Wolseley Parade,North East Of Derby Street,Kensington,18:00,40.198183,2.168293
3,2014-11-11,Wolseley Parade,North East Of Derby Street,Kensington,2:00,13.292179,5.262289
4,2014-11-11,Wolseley Parade,North East Of Derby Street,Kensington,4:00,96.469563,5.262289
...,...,...,...,...,...,...,...
63115,2014-11-13,Tennyson Street,South West Of Southey Street,Kensington,12:00,11.198183,2.168293
63116,2014-11-13,Tennyson Street,South West Of Southey Street,Kensington,13:00,16.292179,5.262289
63117,2014-11-13,Tennyson Street,South West Of Southey Street,Kensington,14:00,13.198183,2.168293
63118,2014-11-13,Tennyson Street,South West Of Southey Street,Kensington,16:00,15.198183,2.168293
63119,2014-11-13,Tennyson Street,South West Of Southey Street,Kensington,19:00,17.292179,5.262289

In [39]:

# Calculate heavy vehicle percentagedata
df['Heavy_Vehicle_Percentage'] = (df['Heavy_Vehicle_Volume'] / df['Total_Traffic_Volume']) * 100
# Display the first few rows of the dataset with the new columns
df[['date', 'road_name', 'location', 'suburb', 'time', 'Total_Traffic_Volume', 'Heavy_Vehicle_Volume', 'Heavy_Vehicle_Percentage']]

,date,road_name,location,suburb,time,Total_Traffic_Volume,Heavy_Vehicle_Volume,Heavy_Vehicle_Percentage
0,2014-10-11,Wolseley Parade,North East Of Derby Street,Kensington,16:00,34.292179,5.262289,15.345448
1,2014-10-11,Wolseley Parade,North East Of Derby Street,Kensington,17:00,52.292179,5.262289,10.063242
2,2014-10-11,Wolseley Parade,North East Of Derby Street,Kensington,18:00,40.198183,2.168293,5.394007
3,2014-11-11,Wolseley Parade,North East Of Derby Street,Kensington,2:00,13.292179,5.262289,39.589360
4,2014-11-11,Wolseley Parade,North East Of Derby Street,Kensington,4:00,96.469563,5.262289,5.454869
...,...,...,...,...,...,...,...,...
63115,2014-11-13,Tennyson Street,South West Of Southey Street,Kensington,12:00,11.198183,2.168293,19.362899
63116,2014-11-13,Tennyson Street,South West Of Southey Street,Kensington,13:00,16.292179,5.262289,32.299477
63117,2014-11-13,Tennyson Street,South West Of Southey Street,Kensington,14:00,13.198183,2.168293,16.428723
63118,2014-11-13,Tennyson Street,South West Of Southey Street,Kensington,16:00,15.198183,2.168293,14.266790
63119,2014-11-13,Tennyson Street,South West Of Southey Street,Kensington,19:00,17.292179,5.262289,30.431611

In [44]:
# Explore the speed-related columns in the dataset
speed_columns = ['speed_limit', 'average_speed', '85th_percentile_speed', 'maximum_speed']
speed_data = df[speed_columns].describe()

speed_data

        speed_limit  average_speed  85th_percentile_speed  maximum_speed
count  63120.000000   63120.000000           63120.000000   63120.000000
mean      47.410646      31.974903              37.521702      46.479251
std        6.836450       9.483998              10.793710      13.360967
min       20.000000       1.000000               1.000000       1.000000
25%       40.000000      26.000000              31.000000      41.000000
50%       50.000000      32.298564              37.900167      46.918791
75%       50.000000      38.000000              44.500000      52.000000
max       60.000000     159.000000             158.000000     159.000000

In [48]:
def categorize_speeding(row):
    speed_limit = row['speed_limit']
    max_speed = row['maximum_speed']
    
    if max_speed <= speed_limit:
        return 'Normal Speed'
    elif speed_limit < max_speed <= speed_limit * 1.1:
        return 'Low-Level Speeding'
    elif speed_limit * 1.1 < max_speed <= speed_limit * 1.2:
        return 'Moderate Speeding'
    else:
        return 'High-Level Speeding'

In [50]:
df['Speeding_Category'] = df.apply(categorize_speeding, axis=1)
df[['speed_limit', 'maximum_speed', 'Speeding_Category']]

       speed_limit  maximum_speed Speeding_Category
0               50      46.918791      Normal Speed
1               50      46.918791      Normal Speed
2               50      46.918791      Normal Speed
3               50      46.918791      Normal Speed
4               50      46.918791      Normal Speed
...            ...            ...               ...
63115           50      46.918791      Normal Speed
63116           50      46.918791      Normal Speed
63117           50      46.918791      Normal Speed
63118           50      46.918791      Normal Speed
63119           50      46.918791      Normal Speed

[63120 rows x 3 columns]

In [63]:
# Step 4: Track Speeding Incidents
speeding_counts = df['Speeding_Category'].value_counts(normalize=True) * 100
speeding_counts

Speeding_Category
Normal Speed           59.627693
High-Level Speeding    16.291191
Moderate Speeding      13.724651
Low-Level Speeding     10.356464
Name: proportion, dtype: float64

In [56]:
# Step 4: Analyze Speeding Incidents by Suburb
speeding_by_suburb = df.groupby('suburb')['Speeding_Category'].value_counts(normalize=True).unstack().fillna(0)
speeding_by_suburb

Speeding_Category,High-Level Speeding,Low-Level Speeding,Moderate Speeding,Normal Speed
suburb,,,,
Carlton,0.155643,0.076233,0.039985,0.728139
Carlton North,0.000000,0.002976,0.005952,0.991071
Docklands,0.245581,0.116162,0.162563,0.475694
East Melbourne,0.002551,0.008503,0.059949,0.928997
Kensington,0.069515,0.062996,0.093679,0.773810
Melbourne Cbd,0.057862,0.130448,0.189340,0.622350
North Melbourne,0.218605,0.178876,0.143217,0.459302
Parkville,0.410040,0.101977,0.168127,0.319856
South Yarra,0.048077,0.070513,0.359432,0.521978
Southbank,0.246032,0.045139,0.028770,0.680060
West Melbourne,0.134084,0.160150,0.114139,0.591627

In [60]:
# Step 5: Analyze Speeding Incidents by Time of Day
speeding_by_time = df.groupby('time')['Speeding_Category'].value_counts(normalize=True).unstack().fillna(0)
speeding_by_time

Speeding_Category,High-Level Speeding,Low-Level Speeding,Moderate Speeding,Normal Speed
time,,,,
0:00,0.142966,0.082890,0.139924,0.634221
10:00,0.158555,0.123194,0.130418,0.587833
11:00,0.153992,0.115970,0.146008,0.584030
12:00,0.156274,0.118251,0.139924,0.585551
13:00,0.176806,0.107224,0.128517,0.587452
14:00,0.176806,0.132319,0.139924,0.550951
15:00,0.201521,0.114068,0.138023,0.546388
16:00,0.200380,0.120152,0.141825,0.537643
17:00,0.194297,0.122433,0.140684,0.542586
18:00,0.191255,0.103802,0.142586,0.562357
19:00,0.176806,0.107985,0.132700,0.582510
1:00,0.125856,0.080228,0.136122,0.657795
20:00,0.156654,0.099620,0.129278,0.614449
21:00,0.162357,0.095437,0.127757,0.614449
22:00,0.151331,0.111407,0.125475,0.611787
23:00,0.147529,0.098859,0.129658,0.623954
2:00,0.122053,0.066540,0.138023,0.673384
3:00,0.118251,0.075665,0.150190,0.655894
4:00,0.141825,0.071483,0.151331,0.635361
5:00,0.163878,0.085932,0.127376,0.622814
6:00,0.185932,0.114068,0.134601,0.565399
7:00,0.175285,0.098479,0.139163,0.587072
8:00,0.164259,0.125095,0.136502,0.574144
9:00,0.165019,0.114449,0.147909,0.572624